target/*
.ensime_cache
conf
server.log
logs
src/main/resources/application.conf
nasim-tests/src/test/resources/application.conf
nasim-testkit/src/test/resources/application.conf
nasim-testkit/src/main/resources/application.conf
src/main/resources/rebel.xml
nasim-tests/journal
nasim-tests/snapshots
nasim-dashboard/logs
.idea/workspace.xml
.idea/tasks.xml
.idea/find.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/libraries
.idea/*
.gradle
src/main/resources/logback.xml
data
*.iml
gwt_dist.zip
workspace.xml
*.class
actor-api/api-language/solutions/im.actor.api/classes_gen
Podfile.lock
npm-debug.log
build
nasim-deps/dist
dist
*~
MANIFEST.MF
gossip.log
actor.log
server.log

